<?xml version="1.0" encoding="ISO-8859-1"?>

<PropertyList>

  <name>config</name>
  <modal>false</modal>
  <layout>vbox</layout>
  <padding>80</padding>

  <group>
    <layout>hbox</layout>
    <empty>
      <stretch>1</stretch>
    </empty>
    <text>
      <label>Configuration</label>
    </text>
    <empty>
      <stretch>1</stretch>
    </empty>
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>nasal</command>
        <script>yak152.config_dlg.open()</script>
      </binding>
      <binding>
        <command>dialog-close</command>
      </binding>
    </button>
  </group>

  <hrule/>

  <group>
    <halign>center</halign>
    <layout>vbox</layout>

    <!-- Instructor Option Toggle -->
    <checkbox>
      <halign>left</halign>
      <label>Show/Hide Instructor/Copilot</label>
      <property>sim/multiplay/generic/bool</property>
      <binding>
        <command>property-toggle</command>
        <property>sim/multiplay/generic/bool</property>
      </binding>
    </checkbox>

    <hrule/>

    <!-- OPTION 0: FIRST PERSON VIEW -->
    <checkbox>
      <halign>left</halign>
      <label>First Person Eject Pilot View</label>
      <property>/sim/gui/dialogs/config/eject-view-0</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          setprop("/controls/seat/eject/view-type", 0);
          setprop("/sim/gui/dialogs/config/eject-view-0", 1);
          setprop("/sim/gui/dialogs/config/eject-view-1", 0);
          setprop("/sim/gui/dialogs/config/eject-view-2", 0);
          fgcommand("dialog-update");
        </script>
      </binding>
    </checkbox>

    <!-- OPTION 1: EXTERNAL VIEW -->
    <checkbox>
      <halign>left</halign>
      <label>External Eject View</label>
      <property>/sim/gui/dialogs/config/eject-view-1</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          setprop("/controls/seat/eject/view-type", 1);
          setprop("/sim/gui/dialogs/config/eject-view-0", 0);
          setprop("/sim/gui/dialogs/config/eject-view-1", 1);
          setprop("/sim/gui/dialogs/config/eject-view-2", 0);
          fgcommand("dialog-update");
        </script>
      </binding>
    </checkbox>

    <!-- OPTION 2: CINEMATIC EXTERNAL VIEW -->
    <checkbox>
      <halign>left</halign>
      <label>Cinematic External Eject View</label>
      <property>/sim/gui/dialogs/config/eject-view-2</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          setprop("/controls/seat/eject/view-type", 2);
          setprop("/sim/gui/dialogs/config/eject-view-0", 0);
          setprop("/sim/gui/dialogs/config/eject-view-1", 0);
          setprop("/sim/gui/dialogs/config/eject-view-2", 1);
          fgcommand("dialog-update");
        </script>
      </binding>
    </checkbox>

    <button>
      <legend>Repack Chutes</legend>
      <binding>
        <command>nasal</command>
        <script>sks94.init_views();</script>
      </binding>
    </button>

  </group>

  <hrule/>

  <button>
    <legend>Close</legend>
    <default>true</default>
    <key>Esc</key>
    <binding>
      <command>nasal</command>
      <script>yak152.config_dlg.open()</script>
    </binding>
    <binding>
      <command>dialog-apply</command>
    </binding>
    <binding>
      <command>dialog-close</command>
    </binding>
  </button>

</PropertyList>
