<?xml version="1.0" encoding="ISO-8859-1"?>

<PropertyList>

  <name>config</name>
  <modal>false</modal>
  <layout>vbox</layout>
  <padding>80</padding>

  <group>
    <layout>hbox</layout>
    <empty>
      <stretch>1</stretch>
    </empty>
    <text>
      <label>Configuration</label>
    </text>
    <empty>
      <stretch>1</stretch>
    </empty>
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>nasal</command>
        <script>yak152.config_dlg.open()</script>
      </binding>
      <binding>
        <command>dialog-close</command>
      </binding>
    </button>
  </group>

  <hrule/>

  <group>
    <halign>center</halign>
    <layout>vbox</layout>

    <!-- Instructor Option Toggle -->
    <checkbox>
      <halign>left</halign>
      <label>Show/Hide Instructor/Copilot</label>
      <property>sim/multiplay/generic/bool</property>
      <binding>
        <command>property-toggle</command>
        <property>sim/multiplay/generic/bool</property>
      </binding>
    </checkbox>

    <!-- Pilot Control stick  Toggle -->
    <checkbox>
      <halign>left</halign>
      <label>Show/Hide stick (Pilot)</label>
      <property>/sim/model/show-stick-pilot</property>
      <binding>
        <command>property-toggle</command>
        <property>/sim/model/show-stick-pilot</property>
      </binding>
    </checkbox>

    <!-- Instructor Control stick  Toggle -->
    <checkbox>
      <halign>left</halign>
      <label>Show/Hide stick (Co-Pilot)</label>
      <property>/sim/model/show-stick-copilot</property>
      <binding>
        <command>property-toggle</command>
        <property>/sim/model/show-stick-copilot</property>
      </binding>
    </checkbox>

    <hrule/>

    <!-- OPTION 0: FIRST PERSON VIEW -->
    <checkbox>
      <halign>left</halign>
      <label>First Person Eject Pilot View</label>
      <property>/sim/gui/dialogs/config/eject-view-0</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          setprop("/controls/seat/eject/view-type", 0);
          setprop("/sim/gui/dialogs/config/eject-view-0", 1);
          setprop("/sim/gui/dialogs/config/eject-view-1", 0);
          setprop("/sim/gui/dialogs/config/eject-view-2", 0);
          fgcommand("dialog-update");
        </script>
      </binding>
    </checkbox>

    <!-- OPTION 1: EXTERNAL VIEW -->
    <checkbox>
      <halign>left</halign>
      <label>External Eject View</label>
      <property>/sim/gui/dialogs/config/eject-view-1</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          setprop("/controls/seat/eject/view-type", 1);
          setprop("/sim/gui/dialogs/config/eject-view-0", 0);
          setprop("/sim/gui/dialogs/config/eject-view-1", 1);
          setprop("/sim/gui/dialogs/config/eject-view-2", 0);
          fgcommand("dialog-update");
        </script>
      </binding>
    </checkbox>

    <!-- OPTION 2: CINEMATIC EXTERNAL VIEW -->
    <checkbox>
      <halign>left</halign>
      <label>Cinematic External Eject View</label>
      <property>/sim/gui/dialogs/config/eject-view-2</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          setprop("/controls/seat/eject/view-type", 2);
          setprop("/sim/gui/dialogs/config/eject-view-0", 0);
          setprop("/sim/gui/dialogs/config/eject-view-1", 0);
          setprop("/sim/gui/dialogs/config/eject-view-2", 1);
          fgcommand("dialog-update");
        </script>
      </binding>
    </checkbox>

    <button>
      <legend>Repack Chutes</legend>
      <binding>
        <command>nasal</command>
        <script>sks94.init_views();</script>
      </binding>
    </button>

  <hrule/>

    <!-- Auto Course Tuning enabled (direct to radials selection) -->
    <checkbox>
      <halign>left</halign>
      <label>Auto Course Enable</label>
      <property>/yak152/instrumentation/RMU/auto-course-on</property>
      <binding>
        <command>property-toggle</command>
        <property>/yak152/instrumentation/RMU/auto-course-on</property>
      </binding>
    </checkbox>

  </group>

  <hrule/>

    <checkbox>
      <halign>left</halign>
      <label>Maintenance Enable</label>
        <property>/sim/maintenance/enabled</property>
      <binding>
        <command>property-toggle</command>
        <property>/sim/maintenance/enabled</property>
      </binding>
    </checkbox>

<group>
  <layout>hbox</layout>

  <text>
    <label>Airframe Hours:</label>
  </text>

<text>
  <stretch>false</stretch>
  <pref-width>50</pref-width>
  <property>sim/maintenance/airframe-hours</property>
  <format>%.1f</format>
  <live>true</live>
</text>


 </group>

 <group>
  <layout>hbox</layout>

  <text>
    <label>Engine Hours:</label>
  </text>

<text>
  <stretch>false</stretch>
  <pref-width>50</pref-width>
  <property>sim/maintenance/engine[0]/operating-hours</property>
  <format>%.1f</format>
  <live>true</live>
</text>


 </group>

  <button>
    <legend>Service</legend>
    <binding>
      <command>nasal</command>
      <script>maintenance.service();</script>
    </binding>
  </button>

<hrule/>

  <button>
    <legend>Close</legend>
    <default>true</default>
    <key>Esc</key>
    <binding>
      <command>nasal</command>
      <script>yak152.config_dlg.open()</script>
    </binding>
    <binding>
      <command>dialog-apply</command>
    </binding>
    <binding>
      <command>dialog-close</command>
    </binding>
  </button>

</PropertyList>
